

header {
  background-image: url(https://images.pexels.com/photos/1194713/pexels-photo-1194713.jpeg?cs=srgb&dl=black-blue-computer-keyboard-1194713.jpg&fm=jpg);
}

.jumbotron {
  margin-bottom: 0;
}

.vh-85 {
  height: 85vh;
}

footer {
  font-size: 80%;
}

/*
.landing-jumbo {
  height: 75vh;
} */