:root {
  --deep-blue: rgb(9, 9, 121); /* Primary color, gradient heading */
  --light-sea-green: rgb(35, 116, 140); /* Link */
  /* Secondary color, gradient, shadow, border, active link */
  --rosy-brown: rgb(152, 99, 130);
  --dark-slate-gray: #2a2a36;
  --dark-slate-blue: rgb(80, 89, 128); /* Gradient */
}

/* BOOTSTRAP OVERRIDES */

a {
  color: var(--light-sea-green);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: var(--rosy-brown);
  text-decoration: underline;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.75rem;
}

.jumbotron {
  margin-bottom: 0;
}

.card-title,
.text-primary {
  color: var(--deep-blue) !important;
}

.badge-free {
  color: white !important;
  background-color: var(--light-sea-green);
}

.badge-paid {
  color: white !important;
  background-color: var(--rosy-brown) !important;
}

.btn:focus,
.btn.focus,
.form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(152, 99, 130, 0.5);
}

.btn-outline-primary {
  color: var(--deep-blue);
  border-color: var(--deep-blue);
  background-color: white;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--deep-blue);
  border-color: var(--deep-blue);
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(9, 9, 121, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--deep-blue);
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--deep-blue);
  border-color: var(--deep-blue);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(9, 9, 121, 0.5);
}

.shadow {
  box-shadow: 0 0.25rem 0.5rem rgba(152, 99, 130, 0.2) !important;
}

.border {
  border: 1px solid rgba(152, 99, 130, 0.2) !important;
}

.border-top {
  border-top: 1px solid rgba(152, 99, 130, 0.2) !important;
}

/* Smooth scrolling, if preferred */

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  /* Fallback */
  background-color: var(--deep-blue);

  background: -moz-linear-gradient(
    170deg,
    var(--deep-blue) 0%,
    var(--rosy-brown) 50%,
    var(--dark-slate-blue) 100%
  );
  background: -webkit-linear-gradient(
    170deg,
    var(--deep-blue) 0%,
    var(--rosy-brown) 50%,
    var(--dark-slate-blue) 100%
  );
  background: -o-linear-gradient(
    170deg,
    var(--deep-blue) 0%,
    var(--rosy-brown) 50%,
    var(--dark-slate-blue) 100%
  );
  background: linear-gradient(
    170deg,
    var(--deep-blue) 0%,
    var(--rosy-brown) 50%,
    var(--dark-slate-blue) 100%
  );

  /* Photo by mohammad alizade on Unsplash */
  /* background-image: url(../images/blurry-rainy-day.jpg); */

  background-attachment: fixed;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.navbar,
.navbar .dropdown-menu {
  background: rgba(9, 9, 121, 0);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: 500ms ease;
}

/* Change navbar colour on scroll */

.navbar.scrolled,
.navbar.scrolled .dropdown-menu {
  background: var(--deep-blue) !important;
  box-shadow: 0 0.25rem 0.5rem rgba(152, 99, 130, 0.2);
}

/* Increase navbar text size on small screens */

@media (max-width: 767.98px) {
  .navbar {
    font-size: 1.125rem;
  }
}

.navbar-brand {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: 0;
}

.navbar-toggler i {
  transition: 750ms ease;
}

/* Utilities */

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-85 {
  min-height: 85vh;
}

.header-angle-down {
  bottom: 0px;
}

.py-6 {
  padding-top: 3.25rem !important;
  padding-bottom: 3.25rem !important;
}

@media (min-width: 768px) {
  .w-md-auto {
    width: auto !important;
  }

  .py-md-8 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-10 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}
